<%- include('../layout/header', {judul : judul}); %>
<div class="akea-body-outer-wrapper ">
    <div class="akea-body-wrapper clearfix  akea-with-frame">
        <header class="akea-header-wrap akea-header-style-plain  akea-style-splitted-menu akea-sticky-navigation akea-style-slide" data-navigation-offset=75px>
            <div class=akea-header-background></div>
            <div class="akea-header-container  akea-container">
                <div class="akea-header-container-inner clearfix">
                    <div class="akea-navigation akea-item-pdlr clearfix">
                        <div class=akea-main-menu id=akea-main-menu>
                            <ul id=menu-main-navigation-1 class=sf-menu>
                                <li class="menu-item akea-normal-menu"><a href="/">Home</a></li>
                                <li class="menu-item menu-item-has-children akea-normal-menu"><a href="javascript:void(0)" class=sf-with-ul-pre>Kategori</a>
                                    <ul class=sub-menu>
                                        <% dataKategori.forEach(function(kategori){ %>
                                        <li class="menu-item" data-size=60><a href="category/<%=kategori.nama_kategori %>"><%=kategori.caps %></a></li>
                                        <% }); %>
                                    </ul>
                                </li>
                                
                                <li class="akea-center-nav-menu-item">
                                    <div class="akea-above-logo">
                                        <a href="index.html"><img src="/blog_asset/images/logo.png" alt="" width="348" height="252" title="logo-1"></a><br/>
                                    </div>
                                    <div class="akea-logo akea-item-pdlr" style="margin-top: -40px;">
                                        <div class="akea-logo-inner">
                                            <a class="" href="index.html"><img src="/blog_asset/images/logo-bot.png" alt="" width="140" height="33" title="logo-2"></a>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="menu-item akea-normal-menu"><a href="/contribution">Kontribusi</a></li>
                                <li class="menu-item akea-normal-menu"><a href="/about">About</a></li>
                            </ul>
                            <div class=akea-navigation-slide-bar id=akea-navigation-slide-bar></div>
                        </div>
                        <div class="akea-main-menu-right-wrap clearfix  akea-item-mglr akea-navigation-top">
                            <div class="akea-overlay-menu akea-main-menu-right" id=akea-right-menu><a class="akea-overlay-menu-icon akea-right-menu-button akea-top-menu-button akea-mobile-button-hamburger" href=#><span></span></a>
                                <div class="akea-overlay-menu-content akea-navigation-font">
                                    <div class=akea-overlay-menu-close></div>
                                    <div class=akea-overlay-menu-row>
                                        <div class=akea-overlay-menu-cell>
                                            <ul id=menu-main-navigation-2 class=menu>
                                                <li class="menu-item"><a href="/">About</a></li>
                                                <li class="menu-item menu-item-has-children"><a href="javascript:void(0)">Kategori</a>
                                                    <ul class=sub-menu>
                                                        <li class="menu-item"><a href="/contribution">Info & Edukasi</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="/contribution">Kontribusi</a></li>
                                                <li class="menu-item"><a href="/about">About</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=akea-main-menu-search id=akea-top-search><i class="fa fa-search"></i></div>
                            <div class=akea-top-search-wrap>
                                <div class=akea-top-search-close></div>
                                <div class=akea-top-search-row>
                                    <div class=akea-top-search-cell>
                                        <form role=search method=get class=search-form action=#>
                                        <input type=text class="search-field akea-title-font" placeholder=Search... value name=s>
                                        <div class=akea-top-search-submit><i class="fa fa-search"></i></div>
                                        <input type=submit class=search-submit value=Search>
                                        <div class=akea-top-search-close><i class=icon_close></i></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="akea-main-menu-left-wrap akea-main-menu-left-social clearfix akea-item-pdlr akea-navigation-top">
                            <a href=# target=_blank class=akea-top-bar-social-icon title=facebook>
                                <i class="fa fa-facebook" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=google-plus>
                                <i class="fa fa-google-plus" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=pinterest>
                                <i class="fa fa-pinterest-p" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=twitter>
                                <i class="fa fa-twitter" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=vimeo>
                                <i class="fa fa-vimeo" ></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>
        <div class=akea-page-wrapper id=akea-page-wrapper>
            <div class=gdlr-core-page-builder-body>
                
                <div class="gdlr-core-pbf-sidebar-wrapper ">
                    <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                        <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" id="div_2207_2">
                            <div class=gdlr-core-pbf-sidebar-content-inner data-skin="Blog List">
                                <div class=gdlr-core-pbf-element>
                                    <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
                                        <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout=fitrows>
                                            <h4><%=dataPost.judul %></h4>
                                            <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover"><a href="javascript:void(0)"><img src="https://api.justhasnah.me/file/upload/img/c7160601-fb84-4efc-acd7-2767c1ef0ca7.png" width="1000" height="486" title="pexels-photo-871053"></a></div>
                                            <div id="app">
                                                <%-dataPost.long_deks %>
                                                <a href="javascript:void(0)" title="Posts by Jane Smith" rel="author"><%=dataPost.writer %></a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- side bar  -->
                        <%- include('../layout/sidebar'); %>



                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " id="div_2207_14">
                    <div class=gdlr-core-pbf-background-wrap></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="akea-footer-wrapper ">
                <div class="akea-footer-container akea-container clearfix">
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-2 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>ADA Indonesia Community</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=textwidget>
                                <p>Medan
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_6"></span>
                                    <br> phone
                                    <br> <span class=gdlr-core-space-shortcode id="span_2207_7"></span>
                                    <br> <a id="a_2207_30" href=mailto:hi@ada-indonesia.id>hi@ada-indonesia.id</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=gdlr-core-custom-menu-widget-2 class="widget widget_gdlr-core-custom-menu-widget akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Kategori</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            <div class=menu-category-container>
                                <ul id=menu-category class="gdlr-core-custom-menu-widget gdlr-core-menu-style-half">
                                    <li class="menu-item"><a href="#">Informasi</a></li>
                                    <li class="menu-item"><a href="#">Edukasi</a></li>
                                    <li class="menu-item"><a href="#">Informasi Pasar Crypto</a></li>
                                    <li class="menu-item"><a href="#">Event</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="akea-footer-column akea-item-pdlr akea-column-20">
                        <div id=text-3 class="widget widget_text akea-widget">
                            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Follow Us</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
                            
                            <div class=textwidget>
                                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_16">
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_31" rel="noopener noreferrer">
                                        <i class="fa fa-facebook" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_32" rel="noopener noreferrer">
                                        <i class="fa fa-pinterest-p" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=skype id="a_2207_33" rel="noopener noreferrer">
                                        <i class="fa fa-skype" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_34" rel="noopener noreferrer">
                                        <i class="fa fa-twitter" ></i>
                                    </a>
                                    <a href=# target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_35" rel="noopener noreferrer">
                                        <i class="fa fa-instagram" ></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=akea-copyright-wrapper>
                <div class="akea-copyright-container akea-container clearfix">
                    <div class="akea-copyright-left akea-item-pdlr">Copyright 2022 - Ada Indonesia, All Right Reserved</div>
                    <div class="akea-copyright-right akea-item-pdlr">
                        Develop With &#128150; Gorga Siagian & Aditia Darma Nst
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div><a href=#akea-top-anchor class="akea-footer-back-to-top-button  akea-with-recent-post-bar " id=akea-footer-back-to-top-button><i class="fa fa-angle-up" ></i></a>
<div class="akea-footer-recent-post-button " id=akea-footer-recent-post-button><i class=icon_plus></i></div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='/blog_asset/js/jquery/jquery-migrate.min.js'></script>
<script src='/blog_asset/plugins/zilla-likes/scripts/zilla-likes.js'></script>
<script src='/blog_asset/plugins/goodlayers-core/plugins/combine/script.js'></script>
<script>
    var slug = "<%=slug %>";
    var gdlr_core_pbf = {
        "admin": "",
        "video": {
            "width": "640",
            "height": "360"
        },
        "ajax_url": "#"
    };
    var apiserver = "<%=api %>";
</script>
<script src='/blog_asset/plugins/goodlayers-core/include/js/page-builder.js'></script>
<script src='/blog_asset/js/jquery/ui/effect.min.js'></script>
<script src='/blog_asset/js/script-core.js'></script>

<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
<script type="text/babel" src="/base/js/post.js"></script>

</body>
</html>