<div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  akea-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" data-skin="Blog List" id="div_2207_9">
    <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
        <div id=text-4 class="widget widget_text akea-widget">
            <h3 class="akea-widget-title"><span class=akea-widget-head-text>About Rumah Ada</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
            <div class="textwidget" style="text-align: center;">
                <p><img class="alignnone size-full wp-image-6650" src="/blog_asset/images/logo.png" alt width=120>
                    <br> ADA website, Indonesians and the Cardano community can view reliable information, have discussions on forums,
                     and can write articles on our ADA website.</p> 
                    <a class="gdlr-core-button gdlr-core-button-shortcode  gdlr-core-button-transparent gdlr-core-button-with-border" href=# target=_blank id="a_2207_10" rel="noopener noreferrer"><span class=gdlr-core-content >more about me</span><i class="gdlr-core-pos-right arrow_right"  ></i></a></div>
        </div>
        <div id=text-7 class="widget widget_text akea-widget">
            <div class=textwidget>
                <div class="gdlr-core-widget-box-shortcode  gdlr-core-center-align" id="div_2207_10">
                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top" id="div_2207_11">
                        <div class="gdlr-core-title-item-title-wrap ">
                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_2207_9">Follow Us<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                    </div>
                    <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_2207_12"><a href=# target=_blank class=gdlr-core-social-network-icon title=facebook id="a_2207_11" rel="noopener noreferrer"><i class="fa fa-facebook" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=pinterest id="a_2207_12" rel="noopener noreferrer"><i class="fa fa-pinterest-p" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=skype id="a_2207_13" rel="noopener noreferrer"><i class="fa fa-skype" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=twitter id="a_2207_14" rel="noopener noreferrer"><i class="fa fa-twitter" ></i></a><a href=# target=_blank class=gdlr-core-social-network-icon title=instagram id="a_2207_15" rel="noopener noreferrer"><i class="fa fa-instagram" ></i></a></div>
                    <br> <span class=gdlr-core-space-shortcode id="span_2207_3"></span>
                    <br>
                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top" id="div_2207_13">
                        <div class="gdlr-core-title-item-title-wrap ">
                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_2207_10">Newsletter<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                    </div> Fill your email below to subscribe to my newsletter<span class=gdlr-core-space-shortcode id="span_2207_4"></span>
                    <br>
                    <div class="tnp tnp-subscription-minimal ">
                        <form action="#" method=post>
                            <input class=tnp-email type=email required name=ne value placeholder=Email>
                            <input class=tnp-submit type=submit value=Subscribe>
                        </form>
                    </div> <span class=gdlr-core-space-shortcode id="span_2207_5"></span></div>
            </div>
        </div>
        <div id=gdlr-core-recent-post-widget-2 class="widget widget_gdlr-core-recent-post-widget akea-widget">
            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Popular Post</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
            <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">
                <div class="gdlr-core-recent-post-widget clearfix">
                    <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src=/blog_asset/upload/qingbao-meng-330658-unsplash-150x150.jpg alt width=150 height=150 title=qingbao-meng-330658-unsplash></div>
                    <div class=gdlr-core-recent-post-widget-content>
                        <div class=gdlr-core-recent-post-widget-title><a href=#>The Most Beautiful Green Field on Earth</a></div>
                        <div class=gdlr-core-recent-post-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><img alt src='/blog_asset/upload/avatar.jpeg'  class='avatar avatar-50 photo' height=50 width=50><a href=# title="Posts by Paul Newman" rel=author>Paul Newman</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a href=#>September 5, 2019</a></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div id=text-5 class="widget widget_text akea-widget">
            
        </div>
        <div id=gdlr-core-category-background-widget-2 class="widget widget_gdlr-core-category-background-widget akea-widget">
            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Category</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>
            <ul class=gdlr-core-category-background-widget>
                <% dataKategori.forEach(function(kategori){ %>
                <li class=gdlr-core-with-bg id="li_2207_0">
                    <a href="kategori/<%=kategori.nama_kategori %>">
                        <span class=gdlr-core-category-background-widget-content >
                            <span class=gdlr-core-category-background-widget-title ><%=kategori.caps %></span>
                            <span class=gdlr-core-category-background-widget-count >1</span>
                        </span>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>
        <div id=gdlr-core-recent-post-widget-3 class="widget widget_gdlr-core-recent-post-widget akea-widget">
            <h3 class="akea-widget-title"><span class=akea-widget-head-text>Recent Post</span><span class=akea-widget-head-divider></span></h3><span class=clear></span>

            <% dataRecentPost.forEach(function(recentPost){ %>
            <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-full">
                <div class="gdlr-core-recent-post-widget clearfix">
                    <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image">
                        <a class="gdlr-core-lightgallery gdlr-core-js " href="<%=recentPost.img_feature %>"><img src="<%=recentPost.img_feature %>" alt width=1000 height=486 title=post-vr></a><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category"><a href=# rel=tag>Trending</a></span></div>
                    <div class=gdlr-core-recent-post-widget-content>
                        <div class="gdlr-core-recent-post-widget-title gdlr-core-title-font"><a href="<%=recentPost.slug %>"><%=recentPost.judul %></a></div>
                        <div class=gdlr-core-recent-post-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><img alt src='/blog_asset/upload/avatar.jpeg'  class='avatar avatar-50 photo' height=50 width=50><a href=# title="Posts by <%=recentPost.writer %>" rel=author><%=recentPost.writer %></a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><a href=#>November 7, 2019</a></span></div>
                    </div>
                </div>
            </div>
            <% }); %>
            
        </div>
        
    </div>
</div>