<%- include('layout/header', {judul : judul}); %>
<div class="akea-body-outer-wrapper ">
    <div class="akea-body-wrapper clearfix  akea-with-frame">
        <header class="akea-header-wrap akea-header-style-plain  akea-style-splitted-menu akea-sticky-navigation akea-style-slide" data-navigation-offset=75px>
            <div class=akea-header-background></div>
            <div class="akea-header-container  akea-container">
                <div class="akea-header-container-inner clearfix">
                    <div class="akea-navigation akea-item-pdlr clearfix">
                        <div class=akea-main-menu id=akea-main-menu>
                            <ul id=menu-main-navigation-1 class=sf-menu>
                                <li class="menu-item akea-normal-menu"><a href="/">Home</a></li>
                                <li class="menu-item menu-item-has-children akea-normal-menu"><a href="javascript:void(0)" class=sf-with-ul-pre>Kategori</a>
                                    <ul class=sub-menu>
                                        <% dataKategori.forEach(function(kategori){ %>
                                        <li class="menu-item" data-size=60><a href="category/<%=kategori.nama_kategori %>"><%=kategori.caps %></a></li>
                                        <% }); %>
                                    </ul>
                                </li>
                                
                                <li class="akea-center-nav-menu-item">
                                    <div class="akea-above-logo">
                                        <a href="/"><img src="/blog_asset/images/logo.png" alt="" width="348" height="252" title="logo-1"></a><br/>
                                    </div>
                                    <div class="akea-logo akea-item-pdlr" style="margin-top: -40px;">
                                        <div class="akea-logo-inner">
                                            <a class="" href="/"><img src="/blog_asset/images/logo-bot.png" alt="" width="140" height="33" title="logo-2"></a>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="menu-item akea-normal-menu"><a href="/contribution">Kontribusi</a></li>
                                <li class="menu-item akea-normal-menu"><a href="/about">About</a></li>
                            </ul>
                            <div class=akea-navigation-slide-bar id=akea-navigation-slide-bar></div>
                        </div>
                        <div class="akea-main-menu-right-wrap clearfix  akea-item-mglr akea-navigation-top">
                            <div class="akea-overlay-menu akea-main-menu-right" id=akea-right-menu><a class="akea-overlay-menu-icon akea-right-menu-button akea-top-menu-button akea-mobile-button-hamburger" href=#><span></span></a>
                                <div class="akea-overlay-menu-content akea-navigation-font">
                                    <div class=akea-overlay-menu-close></div>
                                    <div class=akea-overlay-menu-row>
                                        <div class=akea-overlay-menu-cell>
                                            <ul id=menu-main-navigation-2 class=menu>
                                                <li class="menu-item"><a href="/">About</a></li>
                                                <li class="menu-item menu-item-has-children"><a href="javascript:void(0)">Kategori</a>
                                                    <ul class=sub-menu>
                                                        <% dataKategori.forEach(function(kategori){ %>
                                                        <li class="menu-item"><a href="category/<%=kategori.nama_kategori %>"><%=kategori.caps %></a></li>
                                                        <% }); %>
                                                    </ul>
                                                </li>
                                                <li class="menu-item"><a href="/contribution">Kontribusi</a></li>
                                                <li class="menu-item"><a href="/about">About</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=akea-main-menu-search id=akea-top-search><i class="fa fa-search"></i></div>
                            <div class=akea-top-search-wrap>
                                <div class=akea-top-search-close></div>
                                <div class=akea-top-search-row>
                                    <div class=akea-top-search-cell>
                                        <form role=search method=get class=search-form action=#>
                                        <input type=text class="search-field akea-title-font" placeholder=Search... value name=s>
                                        <div class=akea-top-search-submit><i class="fa fa-search"></i></div>
                                        <input type=submit class=search-submit value=Search>
                                        <div class=akea-top-search-close><i class=icon_close></i></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="akea-main-menu-left-wrap akea-main-menu-left-social clearfix akea-item-pdlr akea-navigation-top">
                            <a href=# target=_blank class=akea-top-bar-social-icon title=facebook>
                                <i class="fa fa-facebook" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=google-plus>
                                <i class="fa fa-google-plus" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=pinterest>
                                <i class="fa fa-pinterest-p" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=twitter>
                                <i class="fa fa-twitter" ></i>
                            </a>
                            <a href=# target=_blank class=akea-top-bar-social-icon title=vimeo>
                                <i class="fa fa-vimeo" ></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>
        <div class=akea-page-wrapper id=akea-page-wrapper>
            <div class=gdlr-core-page-builder-body>
                <div class="gdlr-core-pbf-wrapper " id="div_2207_0" id=gdlr-core-wrapper-1>
                    <div class=gdlr-core-pbf-background-wrap></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class=gdlr-core-pbf-element>
                                <div class="gdlr-core-post-slider-item gdlr-core-item-pdb gdlr-core-item-pdlr clearfix " id="div_2207_1">
                                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type=slider data-effect=default data-nav=navigation data-disable-autoslide=1>
                                        <ul class=slides>
                                            <li>
                                                <div class=gdlr-core-post-slider-slide>
                                                    <div class="gdlr-core-post-slider-image gdlr-core-media-image">
                                                        <a href=#><img src="https://max-themes.net/demos/akea/upload/pexels-photo-736166-1500x635.jpg" alt width=1500 height=635 title=pexels-photo-736166><span class=gdlr-core-post-slider-overlay id="span_2207_0"></span></a>
                                                    </div>
                                                    <div class="gdlr-core-post-slider-caption gdlr-core-center-align">
                                                        <h3 class="gdlr-core-post-slider-title" id="h3_2207_0"><a href="">Berkenalan dengan Cardano</a></h3>
                                                        <div class=gdlr-core-post-slider-widget-info><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class=gdlr-core-blog-info-sep >/</span><a href=#>November 6, 2019</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class=gdlr-core-blog-info-sep >/</span><a href=# title="Posts by Paul Newman" rel=author>Paul Newman</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-sidebar-wrapper ">
                    <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                        <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" id="div_2207_2">
                            <div class=gdlr-core-pbf-sidebar-content-inner data-skin="Blog List">
                                <div class=gdlr-core-pbf-element>
                                    <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
                                        <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout=fitrows>
                                            <div id="app">


                                                <% dataPost.forEach(function(post){ %>
                                                <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                    <div class="gdlr-core-blog-thumbnail-wrap clearfix">
                                                      <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="javascript:void(0)">
                                                          <img
                                                            src="<%=post.img_feature %>"
                                                            width="1000"
                                                            height="486"
                                                            title="pexels-photo-871053"
                                                          />
                                                        </a>
                                                      </div>
                                                      <a
                                                        href="javascript:void(0)"
                                                        class="zilla-likes"
                                                        id="zilla-likes-6613"
                                                        title="Like this"
                                                      >
                                                        <span class="zilla-likes-count">261</span>
                                                        <span class="zilla-likes-postfix"></span>
                                                      </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-full-content-wrap">
                                                      <div class="gdlr-core-blog-full-head clearfix">
                                                        <div class="gdlr-core-blog-full-head-right">
                                                          <h3
                                                            class="gdlr-core-blog-title gdlr-core-skin-title"
                                                            id="h3_2207_3"
                                                          >
                                                            <a href="<%=post.slug %>"><%=post.judul %></a>
                                                          </h3>
                                                          <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                                              <img
                                                                alt
                                                                src="/blog_asset/upload/avatar.jpeg"
                                                                class="avatar avatar-50 photo"
                                                                height="50"
                                                                width="50"
                                                              />
                                                              <a href="javascript:void(0)" title="Posts by Jane Smith" rel="author">
                                                              <%=post.writer %>
                                                              </a>
                                                            </span>
                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                              <a href="javascript:void(0)">November 3, 2019</a>
                                                            </span>
                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category">
                                                              <a href="javascript:void(0)" rel="tag">
                                                                Travel
                                                              </a>
                                                            </span>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="gdlr-core-blog-content">
                                                      
                                                      <%=post.short_deks %>
                                                      </div>
                                                      <div
                                                        class="gdlr-core-social-share-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-social-share-left-text gdlr-core-style-plain"
                                                        id="div_2207_3"
                                                      >
                                                        <span class="gdlr-core-social-share-wrap">
                                                          <a
                                                            class="gdlr-core-social-share-facebook"
                                                            href="javascript:void(0)"
                                                            target="_blank"
                                                            id="a_2207_0"
                                                          >
                                                            <i class="fa fa-facebook"></i>
                                                          </a>
                                                          <a
                                                            class="gdlr-core-social-share-google-plus"
                                                            href="javascript:void(0)"
                                                            target="_blank"
                                                            id="a_2207_1"
                                                          >
                                                            <i class="fa fa-google-plus"></i>
                                                          </a>
                                                          <a
                                                            class="gdlr-core-social-share-pinteres"
                                                            t
                                                            href="javascript:void(0)"
                                                            target="_blank"
                                                            id="a_2207_2"
                                                          >
                                                            <i class="fa fa-pinterest-p"></i>
                                                          </a>
                                                          <a
                                                            class="gdlr-core-social-share-stumbleupon"
                                                            href="javascript:void(0)"
                                                            target="_blank"
                                                            id="a_2207_3"
                                                          >
                                                            <i class="fa fa-stumbleupon"></i>
                                                          </a>
                                                          <a
                                                            class="gdlr-core-social-share-twitter"
                                                            href="javascript:void(0)"
                                                            target="_blank"
                                                            id="a_2207_4"
                                                          >
                                                            <i class="fa fa-twitter"></i>
                                                          </a>
                                                        </span>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <% }); %>


                                            </div>
                                        </div>
                                        <div class="gdlr-core-pagination  gdlr-core-style-circle gdlr-core-right-align gdlr-core-item-pdlr"><span aria-current=page class='page-numbers current'>1</span> <a class=page-numbers href=#>2</a> <a class=page-numbers href=#>3</a> <a class=page-numbers href=#>4</a>
                                            <a class="next page-numbers" href=#></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%- include('layout/sidebar'); %>

                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " id="div_2207_14">
                    <div class=gdlr-core-pbf-background-wrap></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        
                    </div>
                </div>
            </div>
        </div>
<%- include('layout/footer', {api : api}); %>